* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 45px;
    margin: 0px;
}

h4 {
    font-size: 30px;
    margin: 0px;
}

h5 {
    font-size: 16px;
}

form {
    padding-top: 30px;
    padding-left: 30%;
}

body {
    background-size: 100%;
    background-color: #e3fdfd;
}

.home {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    height: 80px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #cccccc;
}

.head a {
    height: 75px;
}

.head img {
    width: 75px;
    height: 75px;
}


.warn {
    padding: 5px;
    border: 0.5px solid #cccccc;
    box-shadow: 1px 1px 1px 0.5px #cccccc;
    color: #ff3333;
}


.special_section {
    height: 60px;
    padding: 4px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    border: 0.5px solid #cccccc;
    box-shadow: 1px 1px 1px 0.5px #cccccc;
    margin-top: 5px;
}

.single-post {
    display: block;
    height: 60px;
    padding: 4px;
    font-size: 40px;
    border: 0.5px solid #cccccc;
    box-shadow: 1px 1px 1px 0.5px #cccccc;
    margin-top: 5px;
}