h3 {
    font-size: 50px;
    margin: 0px;
}


body {
    background-image: url(../resources/image/Arendelle.jpeg);
    background-size: 100%;
}

.home {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    height: 90px;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #cccccc;
}

.head a {
    height: 80px;
}

.head img {
    width: 80px;
    height: 80px;
}