body {
    background-color: #e3fdfd;
    background-image: url(resources\image\logo.jpg);
    background-size: 100%;
}


.index {
    width: 1080px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cbf1f5;
}

.body {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.foot {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.foot img {
    width: 100px;
    height: 100px;
}



.navigation {
    width: 1080px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.navigation_body a {
    width: 220px;
    height: 160px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    background-color: #93c5fd;
    border-radius: 10px;
}

.navigation_body img {
    width: 60px;
    height: 60px;
}

.navigation_foot div {
    height: 20px;
    line-height: 20px;
}



